.note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 192, 0);
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    padding: 15px;
    height: 200px;
    white-space: pre-wrap;
}

.inline-note{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trash{
    font-size: 20px;
    cursor: pointer;
}